@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_modals.scss";


/*
  Mixins
*/

/**
  These mixins help to prevent cross-browser compatibility issues in flex layouts
*/
@mixin display-flex() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-display-flex;
  display: -webkit-flex;
  display: flex;
}

@mixin display-inline-flex() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-display-inline-flex;
  display: -webkit-flex;
  display: inline-flex;
}

@mixin flex($values) {
  -webkit-box-flex: $values;
  -moz-box-flex:  $values;
  -webkit-flex:  $values;
  -ms-flex:  $values;
  flex:  $values;
}

@mixin order($val) {
  -webkit-box-ordinal-group: $val;  
  -moz-box-ordinal-group: $val;     
  -ms-flex-order: $val;     
  -webkit-order: $val;  
  order: $val;
}


/**
  This mixin is used for adding wide frame-like borders to any of the chosen 4 element sides
*/
@mixin wide-border($apply-top, $apply-right, $apply-bottom, $apply-left) {
  @if $apply-top {
    border-top: 3px solid black;
  }
  @if $apply-right {
    border-right: 3px solid black;
  }
  @if $apply-bottom {
    border-bottom: 3px solid black;
  }
  @if $apply-left {
    border-left: 3px solid black;
  }
}

/**
  Mixin that sets font properties on an HTML element.

  Arguments:
  font family 1
  font family 2
  font size
  font color
  font weight
  font style
*/
@mixin set-font($font-family-1, $font-family-2, $font-size, $font-color, $font-weight: normal, $font-style: normal) {
  color: $font-color;
  font-family: $font-family-1, $font-family-2;
  font-size: $font-size;
  font-style: $font-style;
  font-weight: $font-weight;
}

/*
  Main view styles
*/

html {
  background-color: transparent;
  height: 100%;
  margin: 0;
  width: 100%;
}

body {
  background-image: url("../assets/sushi1.jpg");
  background-clip: border-box;
  background-color: transparent;
  background-size: 100%;
  height: 100%;
  margin: 0;
  width: 100%;
  z-index: 1;
}

#ui-view-container {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}


// Home nested view styles

#home-main-container {
  background-color: transparent;
  height: 100%;
}


// Left container styles

#home-left-container {
  background-color: rgba(255, 153, 0, 0.3);
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  min-height: max-content;
  padding: 0;

  @include display-flex();
  @include wide-border(false, true, false, true);
}

#home-left-subcontainer-1 {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  flex-grow: 0.4;
  justify-content: center;
  text-align: center;
  text-shadow: 1px 1px 0.5px rgba(0, 0, 0, 0.7), 2px 2px 5px rgba(255, 255, 255, 0.8);

  @include display-flex();
  @include set-font("Comic Sans MS", "Comic Sans", 400%, red);
  @include wide-border(true, false, true, false);
}

#home-left-subcontainer-2 {
  align-items: center;
  background-color: rgba(0, 85, 128, 0.7);
  justify-content: center;
  text-align: center;
  text-shadow: 0.7px 0.7px 1px black;

  @include display-flex();
  @include set-font("Comic Sans MS", "Comic Sans", 210%, orange);
  @include wide-border(true, false, true, false);
}

#home-left-subcontainer-3 {
  overflow: hidden;

  @include wide-border(true, false, true, false);
}

#home-left-subcontainer-4 {
  align-items: center;
  background-color: rgba(0, 85, 128, 0.8);
  justify-content: center;
  text-align: center;
  text-shadow: 1px 1px 5px black;

  @include display-flex();
  @include set-font("Comic Sans MS", "Comic Sans", 120%, rgb(230, 230, 230));
  @include wide-border(true, false, true, false);
}

#home-left-container-img {
  width: 100%;
}


//Right container styles

#home-right-container {
  background-color: transparent;
  flex-direction: column;
  height: 100%;
  justify-content: space-around;
  padding: 0;

  @include display-flex();
}

// Authentication panel

#home-right-subcontainer-1 {
  height: 100px;
  justify-content: flex-end;
  padding: 5px 5px 5px 5px;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 230px;

  @include display-flex();
}

#home-right-subcontainer-1 table {
  width: 100%;
}

#home-right-subcontainer-1 table tr {
  height: 38px;  //master row height
}


#home-right-subcontainer-1 td, #home-right-subcontainer-1 label, #home-right-subcontainer-1 input {
  height: 100%;
}

.login-panel-column-2 {
  width: 130px;
}


#authorization-panel, #authorization-form {
  min-width: 100%;
  width: 100%;

  @include display-flex();
}

#authorization-panel-usr-logged-in {
  align-items: flex-end;
  flex-direction: column;
  width: 100%;

  @include display-flex();
}

#input-name, #input-password, #input-password-retype {
  width: 100%;
}

.auth-panel-lnk {
  cursor: pointer;

  @include set-font("Comic Sans MS", "Comic Sans", 14px, blue, normal);
}

.auth-panel-lbl {
  display:        table-cell;
  line-height:    90%;
  margin:         0px 0px 0px 0px;
  vertical-align: middle;

  @include set-font("Comic Sans MS", "Comic Sans", 14px, rgb(0, 0, 0));
}

#username-container {
  text-align: right;
  width: 100%;
}

#auth-panel-lbl-username {
  text-align: center;

  @include set-font("Comic Sans MS", "Comic Sans", 15px, black);
}

#btn-log-in, #btn-sign-up {
  background-color: rgba(0, 0, 0, 0.9);
  width: 100%;

  @include set-font("Comic Sans MS", "Comic Sans", 16px, orange, bold);
}

#btn-log-in:hover, #btn-sign-up:hover {
  background-color: rgba(40, 40, 40, 0.9);
}


#home-right-subcontainer-2 {
  align-items: center;
  backgound-color: transparent;
  justify-content: center;
  max-height: 80%;
  order: 2;
  overflow: hidden;

  @include display-flex();
}

#home-right-subcontainer-2 > img {
  flex: auto;
  max-height: auto;
  max-width: 20%;

  @include display-flex();
}

#home-right-subcontainer-3 {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  bottom: 10%;
  height: 100px;
  justify-content: center;
  // margin-bottom: 10%;
  order: 3;
  // position: relative;
  text-align: center;

  @include display-flex();
  @include wide-border(true, false, true, false);
}

#home-right-subcontainer-3 > a {
  text-decoration: none;
  text-shadow: 2px 2px 2px black, 4px 4px 12px white;
  z-index: 4;

  @include set-font("Comic Sans MS", "Comic Sans", 400%, orange);
}


#home-right-subcontainer-3 > a:hover {
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8), 7px 7px 15px white;
}


/*
  Menu nested view styles
*/

#menu-container-lvl-1 {
  flex-direction: column;
  height: 100%;
  margin: 0;

  @include display-flex();
}

#menu-bar {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.9);
  flex-direction: row;
  height: 80px;
  margin: 0;
  order: 1;
  width: 100%;

  @include display-inline-flex();
  @include wide-border(true, false, true, false);
}

#lbl-menu {
  // flex: auto;
  align-items: center;
  letter-spacing: 3px;
  padding-right: 3%;
  text-align: right;
  text-shadow: 5px 5px 5px black;
  width: 47%;

  @include set-font("Comic Sans MS", "Comic Sans", 300%, rgb(255, 219, 77), normal, italic);
}

#btn-order {
  // align-self: flex-start;
  align-items: center;
  background-color: rgba(204, 0, 0, 0.9);
  border: 2px solid rgb(128, 0, 0);
  border-radius: 8px;
  box-shadow: 3px 7px black;
  cursor: pointer;
  // flex: auto;
  justify-content: center;
  letter-spacing: 2.5px;
  max-height: 85%;
  text-align: left;
  text-shadow: -1px -1px 0px black;
  width: 25%;

  @include display-flex();
  @include set-font("Comic Sans MS", "Comic Sans", 250%, rgb(255, 219, 77), normal, italic);
}

#btn-order:hover {
  background-color: rgb(255, 77, 77);
  border: 2px solid rgba(204, 0, 0, 0.9);
}


// Menu listing containers

#menu-container-lvl-2 {
  align-items: stretch;
  height: 100%;
  order: 2;
  position: relative;
  width: 100%;

  @include display-flex();
}

#menu-container-lvl-3-left {
  background-color: rgba(0, 102, 255, 0.7);
  flex-flow: column nowrap;
  margin: 0; 
  /* Note: 'margin: auto' in flex layouts is supposed to absorb extra space on all axes */
  min-height: 100%;
  width: 49%;

  @include display-flex();
}

#menu-container-lvl-3-middle {
  background-color: rgba(0, 0, 0, 0.7);
  min-height: 100%;
  width: 2%;

  @include display-flex();
  @include wide-border(false, true, false, true);
}

#menu-container-lvl-3-right {
  background-color: rgba(0, 204, 0, 0.7);
  flex-flow: column nowrap;
  margin: 0;
  min-height: 100%;
  width: 49%;

  @include display-flex();
}


/*
  Styling menu items
*/

.left-column-item, .right-column-item {
  flex: 1 0 auto;
  height: 200px !important;
  max-height: 200px !important;
  overflow-y: auto;
  position: relative;

  @include display-flex();
  @include wide-border(false, false, true, false);
}

.left-column-item:last-child:after, .right-column-item:last-child:after {
  content: "";
  clear: both;

  @include display-flex();
}


/*
  Left column menu item styles
*/

.left-column-item-left-decorative-div {
  background-color: rgba(0, 0, 0, 0.5);
  flex: 0 0 auto;
  flex-direction: column;
  height: 160px;
  left: 0;
  position: absolute;
  top: 0;
  width: 85%;
  z-index: 2;

  @include display-flex();
  @include wide-border(false, true, true, false);
}

.left-column-item-right-decorative-div {
  background-color: rgba(255, 255, 255, 0.5);
  bottom: 0;
  flex: 0 0 auto;
  height: 160px;
  position: absolute;
  right: 0;
  width: 95%;
  z-index: 1;

  @include wide-border(true, false, false, true);
}

.left-column-item-description-background {
  background-color: rgba(0, 0, 0, 0.6);
  box-sizing: border-box;
  height: 120px;
  left: 5%;
  position: absolute;
  top: 40px;
  width: 65%;
  z-index: 3;

  @include wide-border(false, true, true, true);
}

.left-column-item-name {
  left: 5%;
  position: absolute;
  text-shadow: 2px 2px 3px black;
  z-index: 3;

  @include set-font("Comic Sans MS", "Comic Sans", 170%, rgba(255, 184, 77, 1), bold);
}

.left-column-item-description-area {
  height: 80px;
  left: 5%;
  line-height: 100%;
  padding: 10px 10px 10px 12px;
  position: absolute;
  text-align: justify;
  text-shadow: 0.3px 0.3px 0.3px black;
  top: 40px;
  width: 65%;
  z-index: 4;

  @include set-font("Comic Sans MS", "Comic Sans", 120%, rgba(255, 255, 179, 1), 200);
}

.left-column-item-price {
  height: 40px;
  left: 5%;
  padding: 10px 10px 10px 10px;
  position: absolute;
  text-align: right;
  text-shadow: 0.5px 0.5px 0.5px black;
  top: 120px;
  width: 65%;
  z-index: 4;

  @include set-font("Comic Sans MS", "Comic Sans", 140%, rgba(204, 204, 0, 0.9), bold);
}

.left-column-item-img-container {
  height: 120px;
  left: 70%;
  position: absolute;
  top: 40px;
  width: 15%;
  z-index: 4;
}

input[type=checkbox] {
  opacity: 0;
}

input[type=checkbox] + label.checkbox-custom {
  background-image: url(../assets/unchecked_checkbox.png);
  background-origin: content-box;
  background-position: left top;
  background-repeat: no-repeat;
  background-size: cover; 
  cursor: pointer;
  height: 50px;
  margin: 0px;
  position: absolute;
  width: 50px;
  z-index: 5;
}

input[type=checkbox]:checked + label.checkbox-custom {
  background-image: url(../assets/checked_checkbox.png);
}

.left-column-item label.checkbox-custom {
  right: 0px;
  top: 0px;
}

.right-column-item label.checkbox-custom {
  bottom: 0px;
  left: 0px;
}

label.checkbox-custom:hover {
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0.3px 0.3px 7px rgba(255, 255, 255, 0.5);
}

/*
  Right column menu item styles
*/
.right-column-item-left-decorative-div {
  background-color: rgba(0, 0, 0, 0.5);
  flex: 0 0 auto;
  float: left;
  height: 160px;
  left: 0;
  position: absolute;
  top: 0;
  width: 95%;
  z-index: 1;

  @include wide-border(false, true, true, false);
}

.right-column-item-right-decorative-div {
  background-color: rgba(255, 255, 255, 0.5);
  bottom: 0;
  flex: 0 0 auto;
  flex-direction: column;
  height: 160px;
  position: absolute;
  right: 0;
  width: 85%;
  z-index: 2;

  @include display-flex();
  @include wide-border(true, false, false, true);
}

.right-column-item-description-background {
  background-color: rgba(0, 0, 0, 0.6);
  box-sizing: border-box;
  height: 120px;
  right: 5%;
  position: absolute;
  top: 40px;
  width: 65%;
  z-index: 4;

  @include wide-border(false, true, true, true);
}

.right-column-item-name {
  left: 15%;
  position: absolute;
  text-align: right;
  text-shadow: 2px 2px 3px black;
  z-index: 4;

  @include set-font("Comic Sans MS", "Comic Sans", 170%, rgba(255, 184, 77, 1), bold);
}

.right-column-item-description-area {
  height: 80px;
  line-height: 100%;
  right: 5%;
  padding: 10px 12px 10px 10px;
  position: absolute;
  text-align: justify;
  text-shadow: 0.3px 0.3px 0.3px black;
  top: 40px;
  width: 65%;
  z-index: 4;

  @include set-font("Comic Sans MS", "Comic Sans", 120%, rgba(255, 255, 179, 1), 200);
}

.right-column-item-price {
  height: 40px;
  right: 5%;
  padding: 10px 10px 10px 10px;
  position: absolute;
  text-align: left;
  text-shadow: 0.5px 0.5px 0.5px black;
  top: 120px;
  width: 65%;
  z-index: 4;

  @include set-font("Comic Sans MS", "Comic Sans", 140%, rgba(204, 204, 0, 0.9), bold);
}

.right-column-item-img-container {
  height: 120px;
  right: 70%;
  position: absolute;
  top: 40px;
  width: 15%;
  z-index: 4;
}

.food-item-img {
  max-width: 100%;
  max-height: 100%;
}

/*
  This temporary font style should be replaced later
*/
.temp-font-style {
  color: red;
  font-weight: bold;
}