<div id="home-main-container" class="row" ng-init="homeController.onLoad()">
  <div id="home-left-container" class="col-md-4">
    <div id="home-left-subcontainer-1">
      Yum Yum <br/>
      Sushi
    </div>
    <div id="home-left-subcontainer-2">
      Restaurant
    </div>
    <div id="home-left-subcontainer-3">
      <img id="home-left-container-img"  src="assets/fuji2.jpg" >
    </div>
    <div id="home-left-subcontainer-4" >
    123 Dundas Str.<br/>
    Toronto, ON<br/>
    M6B 5W8
    </div>
  </div>
  <div id="home-right-container">
    <div id="home-right-subcontainer-1">
      <a id="admin-console-link" ui-sref="admin-home">Admin Console</a>
    </div>
    <div id="home-right-subcontainer-2">
      <img src="assets/carp-2.png" >
    </div>
    <div id="home-right-subcontainer-3">
      <a ui-sref="menu">
        Show Menu
      </a>
    </div>
  </div>
</div>