<div class="right-column-item-left-decorative-div">
</div>
<div class="right-column-item-right-decorative-div">
</div>
<div class="right-column-item-description-background">
</div>
<div class="right-column-item-name">
  {{ foodItem.name }}
</div>
<div class="right-column-item-description">
  {{ foodItem.description }}
</div>
<div class="right-column-item-price">
  $&nbsp;{{ foodItem.price }}&nbsp;/&nbsp;10&nbsp;pcs
</div>
<img class="right-column-item-img" data-ng-src="data:image/png;base64,{{ foodItem.imgSrc }}" />
